.listwatched{
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    gap: 0.65rem;
    width: 60vh;
    max-height: 80vh;
    overflow-y: scroll;
}

.information{
    word-break: break-all;
    display: block;
    width: 100%;
}

.stats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.heading{
    display: flex;
    justify-content: space-between;
}
