.list{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 60vh;
    padding: 0.3rem;
    max-height: 80vh;
    overflow-y: scroll;
}

.close{
    padding: 0.1rem;
    text-align: end;
    font-size: 2rem;
}

.closeButton{
    width: 2rem;
    font-size: 1rem;
    border-radius: 2rem;
    background-color: rgb(220, 218, 218);
    color: black;
    border: none;
}
